:root {
  --primary: #62cdff;
  --secondary: #97deff;
  --third: #c9eeff;
  --bg: #146c94;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  background-color: var(--bg);
  color: #fff;
  margin-bottom: 80rem;
}
/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}

.navbar .nav__logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
}

.navbar .navbar__nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar__nav a:hover {
  color: var(--primary);
}

.navbar .nav__icon .btn {
  color: #fff;
  display: none;
}
.navbar .nav__icon a:hover {
  color: #000000;
}
.nav__icon .btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #fff;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero h1 {
  font-size: 2.5rem;
}
.hero h4 {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.hero h1 span {
  display: block;
}
.hero .content .about__me {
  background-color: var(--primary);
  color: #000;
  display: inline-block;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.hero .content .about__me:hover {
  background-color: var(--secondary);
}

/* About Section */

.about {
  padding: 8rem 7% 1.4rem;
}
.about h1 {
  font-size: 2.6rem;
}

.about .row {
  display: flex;
  margin-top: 2rem;
}
.about .row .about__img {
  flex: 1 1 45rem;
}
.about .row .about__img img {
  width: 50%;
  margin: auto;
  display: flex;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content > p {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.about .about__icon {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: salmon;
}

.about .mail__icon,
.phone__icon,
.map__icon {
  display: flex;
  align-items: center;
}
.about .mail__icon p,
.phone__icon p,
.map__icon p {
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

.about .phone__icon,
.map__icon {
  margin-top: 1.2rem;
}

.certi {
  padding: 8rem 7% 1.4rem;
}
.certi h1 {
  font-size: 2.6rem;
  
}

.certi .row {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media Queries */

/* Laptop Devices */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet Devices */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamb-menu {
    display: inline-block;
  }

  .navbar .navbar__nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30rem;
    height: 100vh;
  }
  .navbar .navbar__nav.active {
    right: 0;
    transition: 0.5s;
  }

  .navbar .navbar__nav a {
    display: flex;
    padding: 0.5rem;
    margin: 1.5rem;
    font-size: 2rem;
  }

  .about .row {
    display: block;
  }
}

/* Mobile Devices */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
